/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .other-action {
  background: transparent;
  padding: 5px;
  color: black;
  margin-left: 50px;
  font-weight: 800;
  color: white;
  text-decoration: none;
  text-align: center;
  box-shadow:   inset 1px 4px 3px 1px white,
   inset -1px -4px 3px 1px white;
   padding: 10px;
} */

Link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.comment-form-container {

}

.comment-trash-icon {
  position:relative;
  font-weight: 200;
  margin-right: 10px;
  background: url(https://s.yimg.com/ap/build/images/sprites/scrappy-0df0b38d.png) -172px -84px no-repeat;
  width: 18px;
  height: 18px;
  opacity: 0;

}





.comment-creation {
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
    align-items: flex-end;
}

.commenting-disabled {
  color: gray;
  font-size: 14px;
}

.comment-single {
 padding: 5px;
 margin: 3px;
 height: auto;
 min-width: fit-content;
margin: 5px;
width: 100%;
display: flex;

flex-direction: column;

}



.comment-single:hover > .comment-author > .comment-bottom > .comment-trash-icon  {
  opacity: 1;
}

.comment-trash-icon:hover {
  color: gray;
  cursor: pointer;
}

.comment-bottom {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;

 }




.comment-single:hover {
  background: white;
}

.comment-author {
     padding-top: 3px;
     padding-bottom: 3px;
     color: #F3F5F6;
     display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.comment-body {
  margin-left: 40px;

}

.comment-spread {
    margin-top: 15px;
    margin-bottom: 15px;
}

.show-photo-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-field {
 width: 95%;
 min-height: 80px;
 padding: 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #9ea4a7;
  resize: none;
  margin-bottom: 5px;
  background-color: white;
  border: none;
}

.comment-field:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #008ddf;
  background-color: white;

}

/*  Thank you Codepen!!!*/
.comment-field-tip {

}

.comment-submit {
      float: right;

      margin-top: 10px;
      margin-bottom: 20px;
      height: 32px;
      min-width: 100px;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 600;
      background: #009AE6;
      color: white;

}

.comment-submit:hover {
  cursor: pointer;
  background: #0044C0;
}



.tags-container {
    border-top: 1px solid gray;
    border-bottom:1px solid gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 5px;
    border-top: 1px solid #cfd6d9;
    border-bottom: 1px solid #cfd6d9;
    box-sizing: border-box;
}

.tags-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
  padding-inline-start: 0;
}

.tag-heading {
  font-size: 14px;
  justify-content: space-between;
  font-size: 18px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.tag-bubble-existing {
  display: flex;
  height: 20px;
  flex-direction: row;
  background: transparent;
  border: 2px solid #cfd6d9;
  font-size: 14px;
  cursor: pointer;
  padding-top: 1px;
  color: #212124;
  padding-bottom: 1px;
  padding-right: 0px;
  border-radius: 5px;
  position: relative;
  margin: 2px;
  padding: 5px;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  transition: all .15s ease-in-out;
  color: black;
  overflow:hidden;
    visibility: visible;
    justify-content: space-between;
    width: fit-content;
}

.tag-expanded {
  display: flex;
flex-direction: row;
align-items: baseline;
}



.tag-bubble-existing:hover {
   width: fit-content;
  -webkit-transition: all .15s ease-in-out;
  border: 3px solid  #cfd6d9;

}

.tag-bubble-existing:hover > .delete-x {
  /* background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -524px -76px no-repeat;
  color: gray;
  width: 15px;
  height: 15px;
  opacity: 1; */
}

.tag-bubble-add {
  float: left;
 font-size: 14px;
  border-radius: 5px;
  position: relative;
  max-width: 96%;
  margin: 0 5px 5px 0;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: black;
    border: none;
    background-color: #cfd6d9;

}



.app-main {
  width: 100%;
  height: 100%;
}

.pending {
  color: black;
}

.current-user-photos {
  list-style: none;
display: flex;
flex-wrap: wrap;
margin-right: 5%;
}

.album-tb-new {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 4px;

}

.album-tb-edit {
  top: 7px;
 position: relative;
 display: inline-block;
 width: 28px;
 height: 28px;
 margin-right: 10px;
 margin-top: 10px;
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -87px -448px no-repeat;
}

.button-span {
  width: 100%;
  margin: 5px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  z-index: 500;
}

.dark-bg-overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
}

.album-information {
  text-shadow: 1px 1px black;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 500;
}

.album-toolbar-buttons {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}

.album-creation-thumbnail {
width: 80px;
height: 80px;
margin: 3px;
border: 3px solid transparent;
}

.album-creation-thumbnail-selected {
  width: 80px;
  height: 80px;
  margin: 3px;
  border: 3px solid blue;
}

.album-creation-thumbnail:hover {
  cursor: pointer;
}

.album-creation-pic {
width: 100%;
height: 100%
}

.album-creation-page {
  display: flex;
  position: relative;
  top: 70px;
  margin-left: 20px;
}

.album-creation-content {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.album-creation-photos{
  width: 80%;
  background: #eee;
  margin-left: 5%;
  margin-right: 10%;
  box-shadow: inset 1px 1px 1px, inset -1px -1px 1px;
}

.album-creation-data-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 5px;
}

.album-creation-field-title {
  background-color: #ffffd3;
  color: black;
  margin: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  border: 1px inset #e9e9ae;
  margin-bottom: 10px;
}
.album-creation-field-description {
  background-color: #ffffd3;
  font-size: 12px;
  color: black;
  margin: 5px;
  width: 100%;
  height: 158px;
  border: 1px inset #e9e9ae;
  margin-bottom: 10px;
}

.album-save-disabled {
  padding: 5px 9px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background: #eee;
  color: #bbb;
}

.album-save-enabled {
  padding: 5px 9px;
  background: #0063dc;
  color: #fff;
  border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.album-save-enabled:hover{
  background: #0044C0;
  cursor: pointer;
}

.album-thumbnail {
  width: 100%;
  height: 100%
}



.album-data-thumb {
  position: absolute;
  width:100%;
  top: 85%;
}

.album-thumb:hover {
  color: white;
  cursor: pointer;
}


.album-index-item {
  width: 300px;
  height: 300px;
  position: relative;
  border: 4px solid black;
  /* border: 2px solid transparent; */

  margin: 5px;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  color: transparent;
}

.album-thumb{
  width: 300px;
  height: 300px;
  color:transparent;
  font-size: 12px;
}

.album-index-create {
  width: 300px;
  height: 300px;
  text-decoration: none;
  font-size: 48px;
  text-align: center;
  position: relative;
  border: 2px solid black;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  background: white;
}

.album-index-create:hover {
   cursor: pointer;
   color: white;
   background: black;
}

.album-index-create:active {
  color: green;
  background: black;
}

.album-index-item:hover {
  color: white;
  text-shadow: 1px 1px black;
  border: 4px solid #1a73e8;
}

.pending:hover {
  color: red;
}

.album-index-container {
  height: 100%;
  width: 100%;
  display: flex;
  background: #eee;
  position: fixed;
  align-items:  center;
}

.album-page{

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.album-title{
  color: white;
  text-align: center;
  font-size: 48px;
  width: 100%;
}


.album-description{
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  width: 100%
}

.album-toolbar {
  width: 100%;
  position: fixed;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 47px;
  margin-top: 40px;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

.album-spread {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 5%;
}


.album-photos-container {
  width: 80%;
  display: flex;
}

.album-cover{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
  width: 80%;
  height: 400px;
  margin-top: 5%;
  position: relative;;
}

.album-cover-photo {
  width: 100%;
  height: 100%;
}



.photo-data-thumb {
  position: absolute;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  bottom: 2%;
}

.photo-data-thumb-holder{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}


.album-owner {
 color: white;
 font-size: 14px;
 font-weight: 300;
 text-align: center;
 width: 100%;
}

.home-navbar-content {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  padding: 5px;
  text-decoration: none;
}

.home-navbar-content > li {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

.active-pane {
  font-weight: bolder;
  border-bottom: 4px solid #1a73e8;
  text-decoration: none;
  color: #1a73e8;
}

.inactive-pane {
  font-weight: 400;
    text-decoration: none;
}


.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  color: black;
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px 1px #eee;
}

.photo-index-page {
background-color:  #F3F5F6;
width: 100%;
height: 100%;
display: flex;
}

.photo-index-container {
  height: 100%;
  position:relative;
  background-color: #F3F5F6;
  display: flex;
  flex-direction: column;
  top: 100px;
  margin-left: 10%;
}

#explore {
  font-size: 28px;
font-weight: lighter;
width: 100px;
margin: 0;
margin-top: 15px;
text-align: left;

}

.photo-spread {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
  width: 100%;

  padding-inline-start: 0;
}

.album-photo-spread {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
  width: 100%;
  padding-inline-start: 0;

}

.photo-list-mini {
  width: 400px;
  height: 350px;
}

.photo-index-item {
  /* padding: 5px; */
/*
  color: white;
   text-shadow: 1px 1px black; */
    color: transparent;
  text-shadow: none;
  border: 3px solid transparent;
  position: relative;
  padding-inline-start: 0;

}

.album-show-photo {
  width: 300px;
  position: relative;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  color: transparent;
  text-shadow: none;
  border: 3px solid white;
  background-image: none;
}

.album-show-photo:hover {
  width: 300px;
  position: relative;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  color: white;
  text-shadow: 1px 1px black;
  transition: all 0.2s;
}

.photo-index-item:hover {
   color: white;
   text-shadow: 1px 1px black;
  border: 3px solid #1a73e8;
  transition: all 0.2s;
  cursor: pointer;
}



.photo-index-info-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 200;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-image: none;

}

.photo-index-overlay

.photo-index-title {
  margin-left: 8px;
  margin-bottom: 5px;
  font-size: 16px;
}

.photo-index-user{
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.link-from-photo-index{
  color: inherit;
  position: relative;
}

.photo-page{
  display: flex;
  flex-direction: column;
}
.show-user-name{
  font-size: 22px;
}
.show-title {
  font-size: 16px;
}

.show-desc {
  font-size: 14px;
  margin-bottom: 0px;
}

.show-photo-info {
  width: 100%;
  padding: 0 0 20px;
  border-bottom: 1px solid #cfd6d9;
}


.show-bottom {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  background: #F3F5F6;
  color: #000;
}

.show-bottom-left {
  width: 50%;
  margin-left: 15%;
  height: 100%;
}

.show-bottom-right {
  width: 50%;
  margin-right: 23%;
margin-left: 9%;
}

.error{
  margin-bottom: 20px;
}

.errors-popup {
  position: fixed;
  margin-right: 50%;
  margin-top: 5%;
  background: black;
  z-index: 9000;
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:visible;
  border-radius: 10px;
  box-shadow:  3px 3px 3px 1px white,
  -3px -3px 3px 1px white;

}



.err-clear {
  background: black;
  border-radius: 10px;
  box-shadow:  2px 2px 2px  white;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 20px;

}

.err-clear:hover {
    box-shadow:  2px 2px 2px blue;
    color: blue;
}

.err-clear:active {
  box-shadow: none;
  color: green;
}

.err-clear:focus {
  outline: none;
}

.err-container{
 width: 100%;
 height: 100%;
}

.err-container-container{
  width: 100%;
  position:static;
  height: 100%;
  z-index: 8000;
}

.photo-page {
  /* position:absolute; */
background: #2C2C2C;
color: #fff;
/* display: flex; */
/* height: 585px;
width: 100%; */
}

.show-container {
  height: 700px;
  width: 100%;
  display: flex;
   justify-content: center;
   align-items: center;
   background: #2C2C2C;
   margin-top: 1%;
   flex-direction: column;
}

.show-image {
  min-width: 485px;
  min-height: 495px;
  max-height: 80%;
  max-width: 60%;
  margin-bottom: 10px;
}

.show-menu-top {
  display: flex;
  justify-content: flex-start;
  color: white;
  height: 20px;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
}

#back-link {
  color: white;
}
#back-link:hover {
  text-decoration: underline;
}

.back-arrow {
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -539px -228px no-repeat;
width: 14px;
height: 12px;
float: left;
margin-right: 10px;
margin-top: 2px;
}

.show-menu-bottom {
  height: 20px;
  height: 20px;
    width: 100%;
    margin-right: 40px;
padding-bottom: 20px;
}


.blank-div {
  display: none;
  visibility: hidden;
  width: 0%;
  height: 0%;;
}

.photo-field-title {
  font-size: 18px;
  color: gray;
  background: #222222;
  padding: 10px;
  border-left: none;
    border-right: none;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.photo-field-title:focus{
  background: white;
  color: black;
  outline: none;
}


.photo-field {
  color: gray;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  font-size: 14px;
  background: #222222;
  padding: 10px;
  border-left: none;
    border-right: none;
  min-height: 4px;
}

.photo-field:focus {
  background: white;
  color: black;
  outline:none;
}

.preview {
  width: 100%;
  overflow: hidden;
}

.upload-form-preview {

}

.upload-toolbar {
  width: 100%;
  position: fixed;
  background: #F0F0F0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 47px;
  margin-top: 40px;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

.upload-header {
  display: flex;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  /* align-items: flex-end; */
  background-color: white;
  color: #666;
  position: fixed;
  z-index: 9000;
  width: 100%;
  height: 47px;
}

.upload-left-header {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
}

.upload-right-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.upload-home-link {
  color: #0063dc;
  text-align: center;
  text-decoration: none;
  margin-left: 15px;
  font-family: 'Istok Web', sans-serif;
  font-size: 28px;
  font-weight: 700;
  font-weight: bolder;
  display:flex;
  flex-direction: row;
}

#r {
  color: #EC4083;
}



.upload-nav-link {
  color: #666;
  text-align: center;
  text-decoration: none;
      white-space: nowrap;
  margin-left: 42px;
  margin-right: 32px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 9px;
}

.upload-nav-link:hover{
  color: #0063dc;
}

.upload-form-main {
  margin-right: 30%;
  margin-left: 10%;

  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
    right: 15%;
}

.upload-form-left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin-left: 30px;
  margin-right: 20px;
  background: #232323;
  color: white;
  width: 600px;
  height: 428px;
  border: 1px solid rgba(255,255,255,0.05);

}


.edit-form-left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin-left: 30px;
  margin-right: 20px;
  background: #232323;
  color: white;
  width: 600px;
  height: 428px;
  border: 1px solid rgba(255,255,255,0.05);

}



.upload-button {
 background:  #0063dc;
 color: #fff;
 text-align: center;
 text-shadow: 0 1px 1px #000;
 width: 100%;
 border-radius: 4px;
 font-size: 100%;
 font-size: 24px;
 font-weight: 600;
 line-height: 36px;
 padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.upload-button:hover {
  background: #0044C0;
  cursor: pointer;
}

.upload-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin-top: 100px;
}

.edit-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  height: 80%;
  margin-top: 120px;
  margin-right: 50%;
}

.upload-info {
  width: 100%;
  font-size: 24px;
  text-shadow: 0 1px 1px #000;
}

.upload-container {
    position:fixed;
  background: #2C2C2C;
  color: #fff;
  /* display: flex; */
  height: 100%;
  width: 100%;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align:  center; */
}

.upload-submit {
  position: absolute;
  display: none;
  left: -300px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.shadow-submit-active {
  background:  #0063dc;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #000;
    margin-right: 30px;
    margin-top: 5px;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

.shadow-submit-active:hover {
  background: #0044C0;
  cursor: pointer;
}

.shadow-submit-inactive{
  background-color: inherit;
  margin-top: 5px;
  color: #C6C0BC;
  outline: none;
    border: none;
    margin-right: 50px;
}

.shadow-submit-inactive:focus{
  border: none;
  outline: none;
}

.upload-choose {
  position: absolute;
  display: none;
  left: -300px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

 .failure {
   color: red;
   text-shadow: 1px 1px black;
 }

.user-profile {
  display: flex;
  flex-direction: column;
  height:auto;
}

.cover-photo {
  height: 304px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background: url(https://picsum.photos/200/300/?random); */
  background: url(http://s1.1zoom.me/b5050/420/Coast_Bridges_Ocean_USA_490603_3840x2160.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-photo-content {
   height: 50%;
   width: 100%;
   position: relative;
   box-shadow: inset 0 -2px transparent;
   box-sizing: border-box;
}

.profile-subnav {
 height: 50px;
 background: white;
 border-bottom: 1px solid hsla(0,0%,54%,.3)
}

.profile-pane{
 min-width:  800px;
 max-width: 80%;
 margin-left: auto;
 margin-right: auto;
 padding-left: 130px;
 padding-right: 130px;
 background-color: #eee;
}

 .header-offline {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   z-index: 2000;
   width: 100%;
   height: 64px;
   /* margin-right: auto; */
   /* margin-left: auto; */
 }

 .header-background {
   position: absolute;
   width: 100%;
   height: 64px;
   z-index: 1000;
   background-color: black;
   opacity: 0.5;
 }


.logout-button {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  text-align: center;
  font-weight: 700;
  background: #128fdc;
  opacity: 1;
  margin-right: 20px;
  margin-left: 11px;
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
    line-height: 32px;
    min-width: 80px;
}

.logout-button:hover{
  cursor: pointer;
  background-color: #0063dc;
}
 .header-online {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   position: fixed;
   z-index: 2000;
   width: 100%;
   height: 50px;

   /* margin-right: auto; */
   /* margin-left: auto; */
 }

.right-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.left-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.nav-menu {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100px;
}

.nav-link{
  text-decoration: none;
  color: white;

}

.nav-link:hover {
  opacity: 0.65;
}

.home-link:hover {
    opacity: 0.65;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.big-signup {
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
  border-radius: 3px;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: bold;
  width: 205px;
}

.splash {
  background-image: url("https://cdn.shopify.com/s/files/1/0698/1729/products/OUT-004B-small_592bddd7-ae48-4b97-bbdc-c4679b192272.jpg?v=1478900712");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.inspire {
  font-size: 40px;
font-weight: 600;
}

.tagline {
  font-size: 20px;
}

.login-link {
  color: white;
  opacity: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  /* padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px; */
  margin-right: 15px;
  margin-left: 10px;
  position: relative;
  top: 8px;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  font-weight: 600;
}

.login-link:hover{
  opacity: 0.65;
}

.search-butt {
  position: relative;
  left: auto;
  z-index: 4000;
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -318px -253px no-repeat;
  width: 33px;
  height: 33px;
  border: none;
  background-color: inherit;
}

.search-butt:focus{
  outline: none;
}

.search-bar {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 1px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 40px;
  padding-right: 10px;
  box-sizing: border-box;
  height: 33px;
  background-color: #fff;
  opacity: 0.65;
  background-image: url('searchicon.png');
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.search-bar-main {
  width: 224px;
  height: auto;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  height: 33px;
  background-color: #fff;
  opacity: 0.65;
  margin-right: 10px;
  transition: opacity .25s ease-in-out;
  background-image: url('searchicon.png');
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.search-bar-main:focus {
  outline: none;
  opacity: 1;
  background-color: white;
  width: 364px;
}



.search-bar:active {
  background-color: white;
  opacity: 1;
}

.search-bar:focus {
  background-color: white;
  opacity: 1;
  outline: none;
}

.online-search {
  width: 500px;
  display: flex;
  justify-content: flex-end;

}

.offline-search {
  z-index: 3000;
  width: 900px;
  margin-left: 6%;
  /* background-color: #fff;
  opacity: 0.75; */
}

.offline-search:focus{
  opacity: 1;
  background-color: white;
}





.signup-link-splash {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: white;
  margin-right: 20px;
   padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 600;
  z-index: 3000;
}

.signup-link-home:hover {
opacity: 0.65;
}

.signup-link-splash:hover {
  opacity: 0.65;

}


.signup-link-home {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  background: #128fdc;
  opacity: 1;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 12px;
  height: 32px;
    line-height: 32px;
    min-width: 80px;
}

.errors {
  color: white;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 2px cyan;
}

.upload-link {
  width: 30px;
  height: 21px;
  text-indent: 100%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  margin-left: 20px;
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-9441054a.png) -64px -448px no-repeat;
}

.upload-link:hover {
  opacity: 0.65;
}

.home-link {
  color: white;
  text-align: left;
  text-decoration: none;
  opacity: 1;
  font-weight: 600;
  font-size: 28px;
  margin-left: 40px;
  margin-right: 24px;
  z-index: 3000;
}

.linkbox {
  display: flex;
  font-size: 14px;
  color: black;
  justify-content: space-between;
  margin-right: 15px;
  z-index: 3000;
}

.session-form {
  color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* align-items:flex-start; */
}

.form-header {
    text-shadow: 0px 0px 2px cyan;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  padding: 0;
}



.form-field {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px white;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.form-field-name {
  width: 50%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px white;
  padding: 10px;
  margin-bottom: 10px;
  /* margin-right: 5px;
  margin-left: 5px; */

}

.form-field:focus {
  outline: none;
}

.form-field-name:focus {
  outline: none;
}

.submission {
  background: transparent;
  color: black;
  font-weight: 800;
  font-size: 18px;
  color: white;
  width: 100%;
    text-shadow: 0px 0px 2px cyan;
  text-decoration: none;
  box-shadow:   inset 1px 4px 3px 1px white,
   inset -1px -4px 3px 1px white;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 20px;
}

.submission:hover{
  box-shadow: 0px 0px 2px 2px white,
  inset 1px 4px 3px 1px white,
  inset -1px -4px 3px 1px white;
}

.submission:focus {
  outline: none;
}

.submission:active{
  box-shadow: 0px 0px 2px 2px white,
  inset 1px 2px 3px 1px white,
  inset -1px -2px 3px 1px white;
  font-size: 16px;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  top: 40px;
  right: 100px;
  margin-top: 100px;
  background: transparent;
  box-shadow:  inset 1px 4px 3px 1px white,
  inset   -1px -4px 3px 1px white;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 364px;
}

.tag-index-item {
      width: 207px;
      height: 207px;
      text-align: center;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      color: white;
      text-shadow: 1px 1px black;
      background: black;
      margin: 10px;
      z-index: 400;
}

.tag-data-thumb {
  color: white;
  text-shadow: 1px 1px black;
  z-index: 600;
  position: relative;
  top: 50%
}

.tag-thumbnail {
  width: 100%;
  height: 100%
}

.tag-index-page {
  position: absolute;
  width: 100%;
  background: #F3F5F6;
  height: 100%
}

.tag-show-link {
  z-index: 500;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #5b5b5b;
  background-blend-mode: darken;
}


.tag-show-link:hover {
  background-color: transparent;
  transition: background-color .2s ease-out;
}

.tag-show-links {
  display: flex;
  margin-left: 10%;
  margin-bottom: 5px;
}
.tag-show-label {
  margin-left: 10%;
}



.thumb-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 700;

}

#tagslabel {
  font-weight: bolder;
  font-size: 16px;
  color: black;
  position: relative;
  top: 72px;
  left: 180px;
  padding-bottom: 5px;
}

.tag-index-container {
  position: relative;
  top: 40px;
}
.tag-spread  {
  margin-top: 4%;
  padding-inline-start: 0;
  margin-left: 10%;
  display: flex ;
  flex-wrap:wrap;
  font-size: 22px;
}



.tag-show-page {
  position: absolute;
  width: 100%;
  background: #F3F5F6;
  height: 100%
}

.tag-show-container {
  position: relative;
  top: 120px;
  display: flex;
 flex-direction: column;
}

.tag-photo-spread {
  padding-inline-start: 0;
  margin-left: 10%;
  display: flex ;
  flex-wrap:wrap;
  font-size: 22px;
  list-style: none;
}

.tag-photo {
  margin:5px;
  position: relative;
}

.tag-photo-list-mini {
  width: 400px;
}

.from-tag-to-photo {

}

.arrow {
  display: inline-block;
  margin: 0 12px 0 10px;
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -539px -479px no-repeat;
  width: 8px;
  height: 14px;
  position: relative;
  top: 2px;
}

.photo-edit-btn {
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -315px -212px no-repeat;
  width: 18px;
  height: 18px;

}

.photo-destroy-btn {
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -412px -177px no-repeat;
  width: 18px;
  height: 20px;
  position:relative;
  top: 3px;
  margin-right: 15px;
}
.photo-destroy-btn:hover {
  cursor:pointer;
}


.tag-link {
  color: black;
  padding-left: 3px;
  min-width: fit-content;
  margin-right: 10px;
  border-right: none;
   /* border-left: 2px solid #cfd6d9;
  border-top: 2px solid #cfd6d9;
  border-bottom: 2px solid #cfd6d9; */
  font-size: 14px;
  height: 20px;
  -webkit-transition: all .15s ease-in-out;
}

.tag-link:hover {
  /* border-right: none;
  width: fit-content;
  -webkit-transition: all .15s ease-in-out; */
}


.delete-x {
  height: 9px;
  width: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  opacity: 1;
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -524px -76px no-repeat;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
