/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .other-action {
  background: transparent;
  padding: 5px;
  color: black;
  margin-left: 50px;
  font-weight: 800;
  color: white;
  text-decoration: none;
  text-align: center;
  box-shadow:   inset 1px 4px 3px 1px white,
   inset -1px -4px 3px 1px white;
   padding: 10px;
} */

 .failure {
   color: red;
   text-shadow: 1px 1px black;
 }

 .header-offline {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   z-index: 2000;
   width: 100%;
   height: 64px;
   /* margin-right: auto; */
   /* margin-left: auto; */
 }

 .header-background {
   position: absolute;
   width: 100%;
   height: 64px;
   z-index: 1000;
   background-color: black;
   opacity: 0.5;
 }


.logout-button {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  background: white;
  opacity: 1;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
 .header-online {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   position: fixed;
   z-index: 2000;
   width: 100%;
   height: 50px;
   /* margin-right: auto; */
   /* margin-left: auto; */
 }

.right-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.left-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100px;
}

.nav-link{
  text-decoration: none;
  color: white;

}

.nav-link:hover {
  opacity: 0.65;
}

.home-link:hover {
    opacity: 0.65;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.big-signup {
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
  border-radius: 3px;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: bold;
  width: 205px;
}

.splash {
  background-image: url("https://cdn.shopify.com/s/files/1/0698/1729/products/OUT-004B-small_592bddd7-ae48-4b97-bbdc-c4679b192272.jpg?v=1478900712");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding: 0 60px;
}

.inspire {
  font-size: 40px;
font-weight: 600;
}

.tagline {
  font-size: 20px;
}

.login-link {
  color: white;
  opacity: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  /* padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px; */
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: 8px;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  font-weight: 600;
}

.login-link:hover{
  opacity: 0.65;
}

.search-butt {
  position: relative;
  left: auto;
  z-index: 4000;
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-938e2840.png) -318px -253px no-repeat;
  width: 33px;
  height: 33px;
  border: none;
  background-color: inherit;
}

.search-butt:focus{
  outline: none;
}

.search-bar {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 1px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  height: 33px;
  background-color: #fff;
  opacity: 0.65;
  margin-right: 10px;
}

.search-bar-main {
  width: 224px;
  height: auto;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  height: 33px;
  background-color: #fff;
  opacity: 0.65;
  margin-right: 10px;
  transition: opacity .25s ease-in-out;
}

.search-bar-main:focus {
  outline: none;
  opacity: 1;
  background-color: white;
  width: 364px;
}



.search-bar:active {
  background-color: white;
  opacity: 1;
}

.search-bar:focus {
  background-color: white;
  opacity: 1;
  outline: none;
}

.online-search {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.offline-search {
  z-index: 3000;
  width: 432px;
  /* background-color: #fff;
  opacity: 0.75; */
}

.offline-search:focus{
  opacity: 1;
  background-color: white;
}





.signup-link-splash {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: white;
  margin-right: 20px;
   padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 600;
  z-index: 3000;
}

.signup-link-home {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  background: #128fdc;
  opacity: 1;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 32px;
    line-height: 32px;
    min-width: 80px;
}

.errors {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 2px cyan;
}

.upload-link {
  width: 30px;
  height: 21px;
  text-indent: 100%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  margin-left: 20px;
  background: url(https://s.yimg.com/ap/build/images/sprites/icons-9441054a.png) -64px -448px no-repeat;
}

.upload-link:hover {
  opacity: 0.65;
}

.home-link {
  color: white;
  text-align: left;
  text-decoration: none;
  opacity: 1;
  font-weight: 600;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 24px;
  z-index: 3000;
}

.linkbox {
  display: flex;
  font-size: 14px;
  color: black;
  justify-content: space-between;
  margin-right: 15px;
  z-index: 3000;
}

.session-form {
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items:flex-start; */
}

.form-header {
    text-shadow: 0px 0px 2px cyan;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  padding: 0;
}

.form-label {
  margin-bottom: 5px;
    text-shadow: 0px 0px 2px cyan;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.form-field {
  margin-left: 10px;
background-color: transparent;
color: white;
font-size: 18px;
  box-shadow: inset 1px 1px 1px white;
}

.form-field:focus {
  outline: none;
}

.submission {
  background: transparent;
  padding: 5px;
  color: black;
  font-weight: 800;
  font-size: 18px;
  color: white;
    text-shadow: 0px 0px 2px cyan;
  text-decoration: none;
  box-shadow:   inset 1px 4px 3px 1px white,
   inset -1px -4px 3px 1px white;
   padding: 10px;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: 20px;
}

.submission:hover{
  box-shadow: 0px 0px 2px 2px white,
  inset 1px 4px 3px 1px white,
  inset -1px -4px 3px 1px white;
}

.submission:focus {
  outline: none;
}

.submission:active{
  box-shadow: 0px 0px 2px 2px white,
  inset 1px 2px 3px 1px white,
  inset -1px -2px 3px 1px white;
  font-size: 16px;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  right: 100px;
  background: transparent;
    box-shadow:  inset 1px 4px 3px 1px white,
  inset   -1px -4px 3px 1px white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}
